/* @import-normalize; */
*,
::after,
::before {
  box-sizing: border-box;
}
:root {
  /* CSS HEX */
  --rich-black-fogra-29: #0b0d17ff;
  --lavender-blue: #d0d6f9ff;
  --white: #ffffffff;
  --tart-orange: #ff4242ff;
  --old-rose: #c78283ff;
  --faded: #ffffff10;

  --mainFont: "Bellefair", serif;
  --smallText: 0.7em;
  --spacing: 1px;
  --transition: 0.3s ease-in-out all;
}

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");

h1 {
  margin-top: 0;
  font-size: 9.375rem;
}

h2 {
  font-size: 6.25rem;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.75rem;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
body {
  font-family: var(--mainFont);
  font-weight: 400;
  line-height: 1.75;
  color: var(--white);
}
